.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  height: 8%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-grid-container {
  display: grid;
  height: 100%;
  weight: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: 400px 400px;
  grid-gap: 20px;
  background-color: lightblue;
  padding: 10px;
}

.App-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.App-exact-path, .App-condition-stops, .App-shortest-path, .App-condition-distance, .App-result {
  margin-bottom: 0.5em;
  padding: 1em;
  border: 1px solid rgb(233, 233, 233);
  -webkit-box-shadow: rgb(233, 233, 233) 0 3px 3px 0;
  box-shadow: rgb(233, 233, 233) 0 3px 3px 0;
}

.App-result {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
